Q9_dtd.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE biblio[ 
<!ELEMENT biblio (output*)>
<!ELEMENT output (book)>
<!ELEMENT book (title,category,rating,price,name*)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT category (#PCDATA)>
<!ELEMENT rating (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ATTLIST book year CDATA #REQUIRED> 
]>